<nav class="bg-white px-6 py-2 h-[5vh] flex gap-2 justify-end">
    <twig:Link to="{{ path('thread_list') }}" :text="'navigation.items.threads'|trans(domain='layout')" />
    {% if isLoggedIn %}
        <twig:Link to="{{ path('_logout_main') }}" :text="'navigation.items.logout'|trans(domain='layout')" />
    {% else %}
        <twig:Link to="{{ path('app_login') }}" :text="'navigation.items.login'|trans(domain='layout')" />
    {% endif %}
</nav>
