{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <twig:TextInput id="username" name="_username" label="Courriel" :value="last_username" />
        <twig:TextInput id="password" name="_password" type="password" label="Mot de passe" />

        <input type="hidden" name="_target_path" value="/threads">
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        <twig:Button variant="primary" type="submit" text="Se connecter" />
    </form>
{% endblock %}