<div data-form-modal-target="modal"
     data-action="click->form-modal#backdropClick"
     id="modal-backdrop"
     class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-80 hidden" >

    <div class="bg-white rounded-lg p-6 w-1/3 flex flex-col gap-4">
    </div>
</div>