<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="text-sm bg-slate-800 flex justify-center w-full">
        <div class="border h-auto min-h-screen w-1/2 max-w-2/3">
            <twig:Header />
            <main class="bg-white px-6 py-8 h-auto min-h-[95vh]">
                {% block body %}{% endblock %}
            </main>
        </div>
    </body>
</html>
